<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.dao.UserMapper">

    <!--查询操作-->

    <select id="findAll" resultType="test.domain.User">
        select id,username,password from test.user
    </select>
<!--========================================================================================-->
    <!--sql语句的抽取-->
    <sql id="selectUser">  select id,username,password from test.user</sql>
    <!--在sqlMapConfig.xml中定义别名后可使用user-->
    <select id="findUserById" parameterType="int" resultType="user">
        <include refid="selectUser"/> where id=#{id}
    </select>

<!--========================================================================================-->
    <select id="findByCondition" parameterType="user" resultType="user">
        <include refid="selectUser"/>
            <where>
                <if test="id!=0">
                    and id=#{id}
                </if>
                <if test="username!=null">
                    and username=#{username}
                </if>
                <if test="password!=null">
                    and password=#{password}
                </if>
            </where>
    </select>

<!--========================================================================================-->
<!--
            select id,username,password from test.user where id in(1,2,3)
            collection="list"  集合用list，数组用array
            open="id in("      开始
            item="id"          list集合某个索引的值
            close=")"          结束
            separator=","      分隔符
-->
    <select id="findByIds" parameterType="list" resultType="user">
        select id,username,password from test.user
           <where>
               <foreach collection="list" open="id in("   item="id" close=")" separator=",">
                   #{id}
               </foreach>
           </where>
    </select>
    
    <!--插入操作-->
<!--useGeneratedKeys:设置是否使用jdbc的getGenereatedKeys方法获取主键并赋值到keyProperty设置的属性中
    keyProperty     :实体类主键字段
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id" parameterType="user">
    接口的返回类型改为int
    调用user.id获取来id(返回的int类型不是id)
-->
    <insert id="save" parameterType="user">
        insert into test.user(id, username, password) VALUES(#{id},#{username},#{password})
    </insert>
    
    <!--修改操作-->
    <update id="update" parameterType="user">
        update test.user set username=#{username},password=#{password} where id=#{id}
    </update>

    <!--删除操作-->
    <!--#{}内写什么都可以-->
    <delete id="delete" parameterType="int">
        delete from test.user where id=#{id}
    </delete>
</mapper>